{% extends "layout.html" %}

{% block body %}
        <main>
            <div class="image">
                <img id="nature" src="/static/nature.jpg" alt="nature">
                <div class ="centered">
                    <h1>Carbonice Now!</h1>
                </div>
            </div>
            <div id="start" class="container">
                <div class="row">
                    <div class="col-6">
                        <h1>XBRL</h1>
                        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    </div>
                    <div class="col-6">
                        <h1>SBR</h1>
                        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div id="below-start" class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>XBRL</h1>
                            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                        </div>
                    </div>
                </div>
        </main>
{% endblock %}
