{% extends "layout.html" %}

{% block body %}
        <main>
            <div id="start-1" class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <h1 id="boot1">Bootstrap</h1>
                        <p>Build responsive, mobile-first projects on the web with the world’s most popular front-end component library. <br><br> Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>    
                    </div>
                    <div class="col-4">
                        <div>
                            <img id="pic1" src="/static/nature.jpg" alt="nature" width="220%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container"><br><br></div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h2>Installation</h2>
                        <p>Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include documentation, but do include our build system and readme.</p>
                    </div>
                    <div class="col-4">
                        <h2>BootstrapCDN</h2>
                        <p>When you only need to include Bootstrap’s compiled CSS or JS, you can use BootstrapCDN</p>
                    </div>
                    <div class="col-4">
                        <h2>Official Themes</h2>
                        <p>Take Bootstrap 4 to the next level with official premium themes—toolkits built on Bootstrap with new components and plugins, docs, and build tools.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
