{% extends "layout.html" %}

{% block body %}
        <main>
            <div class="image">
                <img id="nature" src="/static/nature.jpg" alt="nature">
                <div class ="centered">
                    <h1>Carbonice Now!</h1>
                </div>
            </div>
            <div class="youtube">
                <h1>Youtube videos</h1>
                <iframe width="700" height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
{% endblock %}